
{% load static i18n compress%}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
      CRS
    {% endblock title %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
        content="Conversational Recommendation Engine" />
  <meta name="author"
        content="Gauri Mahangare" />
  <link rel="icon" href="{% static 'images/favicons/favicon_main.ico' %}" />
  {% block css %}
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
          integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
<!-- Your stuff: Third-party CSS libraries go here -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@scalableminds/chatroom@0.12.0/dist/Chatroom.min.css">
<!-- This file stores project-specific CSS -->
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'django_select2/css/select2.min.css' %}"> {% endcomment %}


{% compress css %}
  <link href="{% static 'css/project.css' %}" rel="stylesheet" />
  <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet" />
  <link href="{% static 'css/materialize.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
{% endcompress %}

{% endblock css %}
<!-- Le javascript
    ================================================== -->
{# Placed at the top of the document so pages load faster with defer #}
{% block javascript %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script defer
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
        integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
<!-- Your stuff: Third-party javascript libraries go here -->
<script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.0.0-beta/components/chatroom.js"></script>
<!-- Google fonts-->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- place project specific Javascript in this file -->

{% comment %} <script type="text/javascript" src="{% static 'django_select2/js/select2.full.min.js' %}"></script> {% endcomment %}
{% compress js %}
  <script defer src="{% static 'js/project.js' %}"></script>
  <script defer src="{% static 'js/lib/materialize.min.js' %}"></script>
  <script defer src="{% static 'js/lib/uuid.min.js' %}"></script>
  <script defer src="{% static 'js/script.js' %}"></script>
  <script defer src="{% static 'js/constants.js' %}"></script>
      <!--Chart.js Script -->
  <script defer src="{% static 'js/lib/chart.min.js' %}"></script>
  <script defer src="{% static 'js/lib/showdown.min.js' %}"></script>
  <script defer src="{% static 'js/components/botTyping.js' %}"></script>
  <script defer src="{% static 'js/components/cardsCarousel.js' %}"></script>
  <script defer src="{% static 'js/components/charts.js' %}"></script>
  <script defer src="{% static 'js/components/chat.js' %}"></script>
  <script defer src="{% static 'js/components/collapsible.js' %}"></script>
  <script defer src="{% static 'js/components/dropDown.js' %}"></script>
  <script defer src="{% static 'js/components/location.js' %}"></script>
  <script defer src="{% static 'js/components/pdfAttachment.js' %}"></script>
  <script defer src="{% static 'js/components/quickReplies.js' %}"></script>
  <script defer src="{% static 'js/components/suggestionButtons.js' %}"></script>
  <script defer src="{% static 'js/components/index.js' %}"></script>
  {% comment %} <script type="text/javascript">
    var Cinegenius = new chatroom({
      host: "http://localhost:5005",
      title: "Chat with Cinegenius",
      container: document.querySelector(".chat-container"),
      welcomeMessage: "Hi, I am Cinegenius. How may I help you?",
      speechRecognition: "en-US",
      voiceLang: "en-US"
    });
    Cinegenius.openChat();
  </script> {% endcomment %}
  {% comment %} <script defer src="{% static 'js/dj-select2.js' %}"></script> {% endcomment %}
  {% comment %} <script>
    $(document).ready(function() {
        $('#movieDataList').select2();
    });
  </script> {% endcomment %}
  {% comment %} <script defer src="{% static 'js/sb-admin-2.js' %}"></script>
  <script defer src="{% static 'js/sb-admin-2.min.js' %}"></script> {% endcomment %}
{% endcompress %}


{% endblock javascript %}
</head>
<body id="page-top">
  <div class="mb-1">
    <nav class="navbar navbar-expand-md navbar-light bg-body-tertiary bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler navbar-toggler-right"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'movie:movie-top-trending-list' %}">CRS Demo</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'movie:movie-top-trending-list' %}">Top Trending <span class="visually-hidden">(current)</span></a>
            </li>
            {% if request.user.is_authenticated %}
              {% comment %} <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">Search Movies</a>
              </li> {% endcomment %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'movie:movie-content-list' %}">Content Filtering</a>
              </li>
              {% comment %} <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Collaborative Filtering
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'movie:movie-collab-i2iCS-list' %}">Item-Item</a></li>
                  <li><a class="dropdown-item" href="{% url 'movie:movie-collab-u2uCS-list' %}">User-User</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Item-User</a></li>
                </ul>
              </li> {% endcomment %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Matrix Factorisation
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'movie:movie-mf-user' %}">User</a></li>
                  <li><a class="dropdown-item" href="{% url 'movie:movie-mf-nearest-neighbour' %}">Nearest Neighbour</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'movie:movie-dnn-ratings-pred-list' %}">Deep Neural Network</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                   href="{% url 'users:detail' request.user.pk %}">{% translate "My Profile" %}</a>
              </li>
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a class="nav-link" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
              </li>
            {% else %}
              {% if ACCOUNT_ALLOW_REGISTRATION %}
                <li class="nav-item">
                  {# URL provided by django-allauth/account/urls.py #}
                  <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
                </li>
              {% endif %}
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="container-fluid">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
          {{ message }}
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
    {% block content %}
      <div class="row">
        <div class="col-md-6 offset-md-3">
          {% block inner %}{% endblock %}
        </div>
      </div>
    {% endblock content %}
  </div>
  <!-- /container -->
  {% if request.user.is_authenticated %}
    {% block modal %}
        <!--chatbot widget -->
        <div class="widget" id="user-id" data-user-id="{{ request.user.pk }}">
          <div class="chat_header">
            <!--Add the name of the bot here -->
            <span class="chat_header_title"> Cinegenius Bot</span>
            <span class="dropdown-trigger" href="#" data-target="dropdown1">
              <i class="material-icons"> more_vert </i>
            </span>

            <!-- Dropdown menu-->
            <ul id="dropdown1" class="dropdown-content">
              <li><a href="#" id="clear">Clear</a></li>
              <li><a href="#" id="restart">Restart</a></li>
              <li><a href="#" id="close">Close</a></li>
            </ul>
          </div>

          <!--Chatbot contents goes here -->
          <div class="chats" id="chats">
            <div class="clearfix"></div>
          </div>

          <!--keypad for user to type the message -->
          <div class="keypad">
            <textarea
              id="userInput"
              placeholder="Type a message..."
              class="usrInput"
            ></textarea>
            <div id="sendButton">
              <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </div>
          </div>
        </div>

        <!--bot profile-->
        <div class="profile_div" id="profile_div">
          <img class="imgProfile" src={% static 'images/botAvatar.png' %} />
        </div>

        <!-- Bot pop-up intro -->
        <div class="tap-target" data-target="profile_div">
          <div class="tap-target-content">
            <h5 class="white-text">Hey there 👋</h5>
            <p class="white-text">
              I can help you to find movies to watch..
            </p>
          </div>
        </div>
      </div>
    {% endblock modal %}
  {% endif %}
  {% block inline_javascript %}

    {% comment %} Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code: {% endcomment %}
    {% comment %} <script>
      window.addEventListener('DOMContentLoaded', () => {
        /* Run whatever you want */
                // Function to handle click events


    </script> {% endcomment %}

  {% endblock inline_javascript %}

</body>
<footer class="footer text-center">
  <div class="container">
    {% comment %} {% if request.user.is_authenticated %}
      {% include 'chat/partials/chat_bubble.html'%}
    {% endif %} {% endcomment %}
  </div>
    <!-- Copyright Section-->
  <div class="copyright py-4 text-center text-black">
    {% now "Y" as current_year %}
    <div class="container"><small> Copyright © <a class="pr-0" href = "https://www.liverpool.ac.uk/" target="_blank">Gauri Mahangare </a>: {{current_year}}</small></div>
  </div>
{% comment %} <div id="rasa-chat-widget" data-websocket-url="http://localhost:5005/socket.io"
  data-initial-payload="Hi, I am Cinegenius. How may I help you?"></div>
<script src="https://unpkg.com/@rasahq/rasa-chat" type="application/javascript"></script>
  </script> {% endcomment %}

</footer>
</html>
