{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}
{% block content %}
    <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
      </div>
      <div class="row">
        <!-- Number of movies -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Number of movies </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">100,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-mask fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Movies with reviews -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Movies with reviews</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">40,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-sticky-note fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Movies with summary -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Movies with summary
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">2000</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Registered users -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Number of registered users</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">3000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user-check fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
        {% comment %} <!-- Top trending -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Top Trending movies</h1>
          </div>
          <div class="row">

          <!-- Movie # 1 -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <img src="{% static 'images/robot.png' %}" class="card-img-top" width="300" height="300" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title 1 </h5>
                      <p class="card-text">Plot thickens.. </p>
                      <a href="#" class="btn btn-primary">Read more..</a>
                    </div>
                </div>
            </div>
            <!-- Movie # 2 -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                  <img src="{% static 'images/robot.png' %}" class="card-img-top" width="300" height="300" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title 2 </h5>
                    <p class="card-text">Plot thickens.. </p>
                    <a href="#" class="btn btn-primary">Read more..</a>
                  </div>
              </div>
            </div>
            <!-- Movie # 3 -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                  <img src="{% static 'images/robot.png' %}" class="card-img-top" width="300" height="300" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title 3 </h5>
                    <p class="card-text">Plot thickens.. </p>
                    <a href="#" class="btn btn-primary">Read more..</a>
                  </div>
              </div>
            </div>
            <!-- Movie # 4 -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                  <img src="{% static 'images/robot.png' %}" class="card-img-top" width="300" height="300" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title 4 </h5>
                    <p class="card-text">Plot thickens.. </p>
                    <a href="#" class="btn btn-primary">Read more..</a>
                  </div>
              </div>
            </div>
        </div> {% endcomment %}
{% endblock content %}
